$font-family-primary: "Roboto", sans-serif;
$font-family-second: "Karla";

$font-size-xl: 48px;
$font-size-lg: 32px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 14px;

$font-weight-lg: 700;
$font-weight-md: 500;
$font-weight-sm: 400;

$color-black-primary: rgba(0, 0, 0, 0.5);
$color-black-info: #081F32;
$color-gray-info: #8E8E93;
$color-gray-descr: #6E798C;
$color-white-info: #F2F2F7;

$width-md: 310px;
$width-sm: 240px;

$card-size: 280px;