@use '../../styles/vars';

.logo-container {
    display: block;
    margin: 0.5rem auto 2rem auto;
    min-width: vars.$width-sm;
    max-width: 600px;
    max-height: 200px;
    min-height: 100px;
  }
  
  .logo {
    display: block;
    width: 100%;
    height: auto;
  }