@use '../../styles/vars';

.search-bar {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    min-width: vars.$width-md;
    height: 40px;
    border: 1px solid vars.$color-black-primary;
    border-radius: 8px;
    font-size: vars.$font-size-sm;
    line-height: 150%;
    color: vars.$color-black-primary;
    background: url('../../../public/search-icon.svg') no-repeat scroll 7px 10px;
    padding-left:30px;
}

.search-bar:focus {
    outline: none;
}